@font-face {
    font-family: inter;
    src: url("Fonts/Inter-Regular.ttf");
}
body {
    font-family: "inter";
}

.title-1 {
    font-size: 25px;
    margin-left: 160px;
}


.form-table {
    border-collapse: collapse;
    height: 70px;
    border: 0px;
}
.input-bc {
    background-color: white;
}
.input-names {
    font-weight: 700;
}
.inputs {
    margin: auto;
}
.input-number {
    width: 210px;
    height: 45px;
    font-weight: 500;
}
.input-text {
    width: 593px;
    height: 45px;
    font-weight: 500;
}
.input-date {
    width: 210px;
    height: 45px;
    font-weight: 500;
}
.input-button {
    width: 115px;
    height: 45px;
    background-color: #FFD43A;
    border: 0px;
    font-weight: 500;
}

.title-2 {
    font-size: 25px;
    margin-left: 160px;
    margin-top: 85px;
}

table {
    margin-left: 141px;
    height: 399px;
    width: 1180px;
    margin: auto;
}
table, thead, tr, td, th {
    border: 1px solid #DADADA;
    border-collapse: collapse;
}
thead {
    background-color: #F9F9F9;
    padding: 15px;
}
tbody {
    background-color: #FFFFFF;
}

.column-1 {
    width: 72px;
    padding-top: 21px;
    padding-bottom: 14px;
}
.column-2 {
    width: 444px;
    padding-top: 21px;
    padding-bottom: 14px;
}
.column-3 {
    width: 276px;
    padding-top: 21px;
    padding-bottom: 14px;
}
.column-4 {
    width: 251px;
    padding-top: 21px;
    padding-bottom: 14px;
}
.column-5 {
    width: 190px;
    padding-top: 21px;
    padding-bottom: 14px;
}

.id {
    font-weight: 700;
    padding-left: 32px;
}
.text {
    font-weight: 500;
    padding-left: 23px;
}
.date {
    font-weight: 500;
    text-align: center;
    color: #FF0000;
}
.edit {
    font-weight: 500;
    text-align: center;
}
.edit-2 {
    font-weight: 500;
    text-align: center;
}

.button-1 {
    background-color: #FFD43A;
    width: 115px;
    height: 36px;
    border: 0px;
}
.button-2 {
    background-color: #FF0000;
    width: 115px;
    height: 36px;
    border: 0px;
}